/venv
database.sqbpro
watafak.py
GUIA.md
/build
/dist
Asesorias.spec
setup.py
.DS_Store
/utils/__pycache__/colorsHex.cpython-312.pycs
TuAplicacion.spec
databaseBack.db
database.db-journal
.DS_Store
AsesoríasUABC.spec
# Comando para forzar el pull 
# git fetch --all && git reset --hard origin/main